
<!-- <app-home></app-home> -->
<!-- 

<app-testing></app-testing> 
<app-mediapipe></app-mediapipe>
<app-test></app-test>
 <app-test-media></app-test-media> -->
<!-- <app-call-server></app-call-server> -->
<!-- <app-webcam></app-webcam> -->
<!-- <app-camera></app-camera> -->
<!-- <app-frame-service></app-frame-service> -->
<!-- פה מפעילים את האפליקציההההההה -->
<!-- <app-flacks></app-flacks>



 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-nav></app-nav>

<!-- <app-update-name></app-update-name> -->

<!-- <app-inbar></app-inbar> -->
<!-- <app-camera></app-camera> -->
<!-- <app-testing></app-testing> -->











<router-outlet></router-outlet>

