.registration-form {
    background-color: purple;
    color: white;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: black;
    border-color: black;
  }
  
  .btn-success {
    background-color: white;
    color: black;
  }
  
  .registration-success {
    margin-top: 20px;
    text-align: center;
  }
  
  .registration-success h3 {
    margin-bottom: 10px;
  }
  
  .registration-success img {
    margin-top: 10px;
    border: 1px solid white;
  }
  