

main {
	padding: 20px;
}

section {
	margin-bottom: 40px;
  text-align: center;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
    text-align: center;
    
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) {
	main {
		display: flex;
		flex-wrap: wrap;
	}
	section {
		flex: 1;
		margin-right: 20px;
	}
	section:last-of-type {
		margin-right: 0;
	}
}
.image-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

.image-about img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

@media screen and (max-width: 1085px) {

  .image-about img:nth-of-type(2)
  {
    display: none;
  }

  .image-about  img:nth-of-type(1) {
    flex-basis: 100%;
    max-width: 73%;
  }
}
footer {
    background-color: #f8f9fa;
    text-align: center;
  }
  
  nav a {
    color: #100707;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  