
  <main>
    <section>
      <h2>הסיפור שלנו</h2>
      <p>האפליקציה שלנו מיועדת לעזור לאנשים חרשים לתקשר בדרכים שונות. היא מספקת מגוון כלים ואפשרויות לתקשורת, ומאפשרת למשתמשים ליצור קשר עם העולם החיצוני בצורה נוחה וקלה.</p>
      <p>אנו מאמינים כי כל אדם זכאי לתקשר ולהיות חלק מהקהילה, ולכן יצרנו את האפליקציה שלנו כדי לעזור לאנשים חרשים להתקשר ולהיות חלק מהעולם המסביב להם.</p>
      <p>אם יש לכם שאלות או הערות, אתם מוזמנים לצור קשר עמנו <a href="#">כאן</a>.</p>
      <p>!בנינו את האתר כדי שעוד אנשים יכירו את החנות שלנו</p>
       <p>כתובת : הרוקמים 30,חיפה</p>
       <p> טלפון להזמנות : 050987536</p>
    </section>
  </main>
